* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }

  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

  a {
    text-decoration: none;
  }

  .top {
    height: 1024px;
    background-image: url(img/Rectangle\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.title{
color: #FFF;
font-size: 64px;
font-weight: 700;
line-height: 78px;
padding-top: 217px;
padding-bottom: 32px;
max-width: 792px;
}

.top__text{
color: #FFF;
font-size: 18px;
font-weight: 300;
line-height: 32px;
padding-bottom: 44px;
width: 480px;
}

.btn{
    width: 234px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid transparent;
    background: #9C0332;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.for{
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  background: #000915;
  padding-top: 128px;
  padding-bottom: 128px;
}


.for__item{
  height: 300px;
  grid-column: span 4;
  border-radius: 16px;
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 32px;
  padding-bottom: 32px;
}

.for__item_1{
  background-image: url(img/for-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.for__item_2{
  background-image: url(img/for-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.for__item_3{
  background-image: url(img/for-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product_img {
  width: 100%;
}